<div [class.bg-light]="!isDarkMode"
     [class.bg-dark]="isDarkMode">
  <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="container">
    <form class="modal-body" [formGroup]="form">
      <div class="mb-3 row">
        <label for="posterUrl" class="col-sm-3 col-form-label">posterUrl</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="posterUrl" formControlName="posterUrl">
          <div class="danger"
               *ngIf="form.controls['posterUrl'].invalid && form.controls['posterUrl'].touched">
            <div *ngIf="form.controls['posterUrl'].errors?.['required']">
              Incorrect poster link
            </div>
            <div *ngIf="form.controls['posterUrl'].errors?.['pattern']">
              Invalid URL address. Example: https://example.com
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="title" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="title" formControlName="title">
          <div class="danger"
               *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
            <div *ngIf="form.controls['title'].errors?.['required']">
              Enter a title for the movie
            </div>
            <div *ngIf="form.controls['title'].errors?.['minlength']">
              Name must be at least 2 characters long
            </div>
            <div *ngIf="form.controls['title'].errors?.['maxlength']">
              Name must be no more than 60 characters
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="year" class="col-sm-3 col-form-label">Year</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="year" formControlName="year">
          <div class="danger"
               *ngIf="form.touched && form.controls['year'].invalid && form.controls['year'].touched">
            <div *ngIf="form.controls['year'].errors?.['required']">
              Enter the year of the movie
            </div>
            <div *ngIf="form.controls['year'].errors?.['min']">
              According to Wikipedia, no films were made before 1895
            </div>
            <div *ngIf="form.controls['year'].errors?.['max']">
              The site contains only released films
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="cashFees" class="col-sm-3 col-form-label">Cash fees</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="cashFees" formControlName="cashFees">
          <div class="danger"
               *ngIf="form.controls['cashFees'].invalid && form.controls['cashFees'].touched">
            <div *ngIf="form.controls['cashFees'].errors?.['required']">
              Enter the film's cash fees
            </div>
            <div *ngIf="form.controls['cashFees'].errors?.['pattern']">
              From 15K to 9B. Example: 20230.50
            </div>
          </div>
        </div>
      </div>
      <div formArrayName="actors">
        <div class="mb-3 row" *ngFor="let control of actorsFormArray.controls; let i = index">
          <label for="actor-{{i}}" class="col-sm-3 col-form-label">Actor</label>
          <div class="col-sm-9">
            <div class="d-flex">
              <input type="text" class="form-control" id="actor-{{i}}" [formControlName]="i">
              <button class="btn  btn-outline-success" (click)="addControl()">+</button>
              <button *ngIf="actorsFormArray.controls.length>1" class="btn  btn-outline-danger"
                      (click)="removeControl(i)">-
              </button>
            </div>
            <div class="danger"
                 *ngIf="actorsFormArray.controls[i].invalid && actorsFormArray.controls[i].touched">
              Enter the actors who played in the film
            </div>
          </div>
        </div>
        <div class="alert  alert-danger" *ngIf="isError" id="box">
          Please fill in all fields
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="addMovies()">Add</button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
