.movies {
  &__item {
    position: relative;

    .button {
      position: absolute;
      top: 35px;
      right: 5px;
      display: none;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 20px #888888;
      border-radius: 50%;
      cursor: pointer;
    }

    .favorite {
      font-size: 15px;
      padding: 5px;
    }

    .button.favorite {
      top: 5px;
    }

    .active-favorite {
      color: red;
      display: block;
    }

    &:hover {
      .button {
        display: block;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &--view-list {

    .movies__item {
      display: flex;
      padding: 20px;

      img {
        object-fit: contain;
        max-width: 110px;
        min-width: 80px;
      }
    }

    .movies__info {
      padding-left: 15px;
    }
  }

  &--view-card {
    display: grid;
    grid-template: auto / repeat(auto-fit,minmax(150px, 1fr));
    grid-gap: 15px;
    padding-top: 15px;
    justify-items: center;

    .movies__item {
      max-width: 175px;
      max-height: 600px;
    }
  }

  &__info {
    padding-top: 10px;
  }
}

.active {
  color: #0d6efd;
}

.separator {
  padding: 0 20px;
  font-size: 28px;
  align-self: baseline;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 180px;
  padding-left: 10px;
}

.icon {
  padding-right: 10px;
}

@media (max-width: 320px) {
  .movies {
    &__header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 425px) {
  .movies {
    &--view-list {
      .movies__item {
        border: 1px solid rgb(126, 126, 126);
        border-radius: 5%;
        margin: 10px 10px;

        img {
          margin-top: 15px;
          align-self: start;
        }

        .button {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .movies {
    &__item {
      .button {
        display: block;
      }
    }
  }

  .mobile-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .separator {
    display: none !important;
  }
}
